* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
header {
  max-width: 100%;
}

  body {
    max-width: 100%;
    min-height: 100vh;
    background-color: #1C1A3F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background-color: #fafafa;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 800px;
    max-width: 100%;
    overflow: hidden;
  }
   h1 {
    font-size: 30px;     
    background-color: #000000;     
    color: #fafafa;     
    text-align: center;
    padding-top: 3px;    
    padding-bottom: 3px;    
    }  

  .form {
    padding: 50px;
  }

  #style_name {
    width: 60%;
    margin-right: 5px;
  }
  #style_email {
    width: 55%;
  }
  #style_senha {
    width: 60%;
    margin-right: 5px;
  }
  #style_confirmacao_senha {
    width: 55%;
  }

  .style_name_email{
    display: flex;
  }
  .style_senha_confirmacao{
    display: flex;
  }

  #style_rua_bairro {
    display: flex;
  }
  
  #style_cidade_estado {
    display: flex;
    margin-bottom: 10px;
  }

  #style_rua_bairro {
    display: flex;
    margin-bottom: 10px;
  }

  #style_rua{
    width: 60%;
    margin-right: 5px;
  }
  #style_bairro{
    width: 55%;
  }
  #style_cidade{
    width: 60%;
    margin-right: 5px;
  }
  #style_estado{
    width: 55%;
  }

  .form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .form-control label {
    display: inline-block;
    margin-bottom: 5px;
  }
  
  .form-control input {
    border: solid 1.5px #1C1A3F;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
  }
  
  .form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
  }
  
  .form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }
  
  .form button {
    background-color: green;
    color: #fff;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
  }
  
  /* Error and Success */
  .form-control.success input {
    border-color: #2ecc71;
  }
  
  .form-control.error input {
    border-color: #e74c3c;
  }
  
  .form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
  }
  
  .form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
  }
  
  .form-control.error small {
    visibility: visible;
    color: #e74c3c;
  }